<!DOCTYPE HTML>


<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
  </head>
  <body>

    <a href="https://github.com/login/oauth/authorize?client_id=9fa145524a804d6ed412">Login</a>
  </body>
</html>

