html,body{
  height: 100%;
  margin: 0;
}
div.container{
  display: flex; /**/
  flex-flow: column;/**/
  height: 100%;
  width: 100%; 
}
div.main{
  flex: 1 1 auto;
  /*flex: 1;*/

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  /*height: 100%;*/
  
}
.col{
  width: 50%;
}
#auth {
  transition: all .1s ease;
  width: 100%;
  background: #ECEAEF
}
.auth-enter, .auth-leave {
  height: 0;
  padding: 0 10px;
  opacity: 0;
}
#content {
  display: flex;
  align-items: stretch;
}
#frontmatters {
  width: 50%;
}
#filemanager {
  //height: 100%;
  width: 50%;
}
#filercontainer{
  height: 100%;
  //overflow-y: scroll;
}
ul.mainlist{
  padding: 5px 5px 5px 5px;
  margin: 10px;
}
ul.mainlist li{
  list-style: none;
  margin-top:     4px;
  margin-bottom:  4px;
}
ul.mainlist li label{
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  width: 40px;
}
li.fa.fa-tags{
  width: 100%;
}
textarea.frontmatter {
  margin-left: 50px;
}
#htagapp{
  width: 100%;
  /*height: 50px;
  overflow: hidden;
  overflow-y: scroll;*/
}
#renderbox {
  position: relative;
  overflow-y: scroll;
  /*height: min-content;*/
}
#render {
  position: absolute;
}
#editorbox{
  position: relative;
}
#editor{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

div.row{
  margin-top: 4px;
  margin-bottom: 4px;
}
